body.modal-open {
	position:relative;
	overflow: hidden;
}

#mobile-notification {
	display: none;
}

#global-alert-notification {
	margin-top: 80px;
    text-align: center;
    display: none;
}

#wall-alert-notification {
    text-align: center;
    display: none;
}

.loading-icon-small {
	width: 32px;
	height: 32px;
	border: 0;
}

.explanation-question-mark {
	font-size: 0.8em;
	vertical-align: super;
	margin-left: 2px;
	font-weight: bold;
}

.img-circle {
	border: 2px solid #e8e8e8;
	box-sizing: border-box;
}

.navbar .nav-bar-action-buttons li {
	vertical-align: middle;
	width: 260px;
}

.popover {
	font-size: 0.8em;
	color: gray;
}

.brand .grumble-icon {
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -4px;
}

.grumble-fb-share-button {
	width: 200px;
	margin: auto;
}

.fb-share-preview {
	border: 1px solid #cecece;
    display: inline-block;
    background-color: #f7f7f7;
    margin: 20px auto;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    line-height: 14px;
}

.fb-share-preview .grumblee-profile-pic {
	float: left;
	border-right: 1px solid rgba(0, 0, 0, .08);
}

.fb-share-preview .preview-description {
	width: 308px;
	padding: 10px;
	float: right;
	text-align: left;
}

.fb-share-preview .preview-title {
	display: block;
	color: #3b5998;
	font-weight: bold;
}

.fb-share-preview .preview-text {
    margin-top: 5px;
    display: block;
    color: gray;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: 0;
}

#filters {
	margin-bottom: 60px;
	padding-top: 15px;
}

#empty-feed-popup {
    width: 380px;
    margin-left: -190px;
    padding: 20px;
}

#empty-feed-popup .box-title h4 {
	font-size: 15px !important;
	color: #3B5998 !important;
}

#invite-grumblee-popup {
	width: 460px;
    margin-left: -230px;
    padding: 20px;
}

#empty-filtered-section-notification {
	width: 380px;
	font-size: 1.1em;
	font-style: italic;
	margin-top: 30px;
}

.loading-indicator .loading-gif {
	margin: 20px;
}

.loading-indicator .error-indicator {
	display: none;
}

.modal {
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.error-message-section {
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -120px;
}

.box-title {
    font-size: 1.2em;
    color: maroon !important;
    font-style: italic;
    margin-bottom: 20px;
}

.grumble-button, .email-invite-button, .play-guess-button {
    margin: 5px 0px 5px -1px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: block;
    overflow: hidden;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    border-right: 1px solid rgba(0,0,0,.1);
}

.grumble-button:hover, .grumble-button:active, .email-invite-button:hover, .email-invite-button:active, .play-guess-button:hover, .play-guess-button:active {
    text-decoration: none;
}

.grumble-button .img, .email-invite-button .img, .play-guess-button .img {
	display: block;
	float: left;
	border-right: 1px solid rgba(0,0,0,.1);
	width: 50px;
	font-size: 26px;
	text-align: center;
} 

.friend-list-entry a {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.friend-list-entry .img-circle {
	position: relative;
    top: 0;
    left: 0;
}

.profile-pic {
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#invite-popup .img-circle:hover {
    outline: 2px;	
}

#invite-popup .overlay {
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

#invite-popup .modal-body .container {
	max-width: 100%;
}

#invite-popup .invite-selected-button {
	width: 180px;
	height: 50px;
	font-size: 1.7em;
	line-height: 1.7em;
}

#invite-popup .profile-pic {
	width: 60px;
}

#invite-popup .modal-footer .btn-link {
	color: gray;
}

#post-popup .modal-header .select2 {
	width: 250px;
	height: 65px;
}

#post-popup .modal-header {
	padding-bottom: 15px;
}

#post-popup .modal-body {
	overflow-y: inherit;/*for dropdowns to not get cutoff*/
}

.friend-select-item-label {
	margin: 0 20px;
	font-weight: bold;
}

#post-popup .modal-header .select2-container-multi .select2-choices .select2-search-field input {
	height: 55px;
}

#post-popup .modal-header .select2-container a {
	height: 60px !important;
	padding-left: 10px !important;
	padding-top: 8px !important;
	outline: none;
	font-size: 1.3em;
}

#post-popup .modal-header .select2-container .select2-choice span {
	display: inline;
}

.post-text-container  {
	padding: 0 12px 0 0;
}

.post-text-container textarea {
	width: 100%;
}

::-webkit-input-placeholder { font-style: italic; font-size: 0.85em; }
::-moz-placeholder { font-style: italic; font-size: 0.85em; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; font-size: 0.85em; } /* ie */
input:-moz-placeholder { font-style: italic; font-size: 0.85em; }


.textarea-limit-status {
	text-align: right;
	margin-bottom: 20px;
}

.textarea-limit-warning {
	color: #bd362f;
}


#post-popup .post-options-panel {
}

#post-popup .post-options-panel label {
	display: inline;
    margin-right: 10px;
    font-size: 1.1em;
    color: gray;
}

#post-popup .post-options-panel .select2 {
	width: 190px !important;
}

.well [class^="span"] + [class^="span"] {
    margin-left: -1px; /* compensate border width */
    border-left: 1px solid #e3e3e3;
}

#post-popup .post-options-panel li {
	float: left;
}

#post-popup .post-visibility-selector .popover {
	min-width: 250px;
}

ul.inline li.divider-vertical {
	height: 30px;
	margin: 0 9px;
	padding: 0;
	border-right: 2px solid #f9f9f9;
	border-left: 1px solid #e0e0e0;
}

#post-popup input[type="checkbox"] {
	margin: 0 3px 0 0;
}

#post-popup input[type="checkbox"] + label {
	vertical-align: middle;
}

#post-popup .post-option-checkbox {
	padding-top: 3px;
}

#post-popup .alert {
	padding: 6px;
	margin-bottom: 10px;
	line-height: 12px;
}

#wall .item .picture .description {
	color: #676767;
	padding: 10px 2px;
	border-radius: 4px;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	min-height: 70px;
}

#wall .item .divider {
	background-color: #c8c8c8;
    height: 1px;
}

.feed-item {
	min-height: 260px;
}

.feed-item .image {
	position: relative;
}

.feed-item img {
	width: 100% !important;
	height: 100% !important;
}

.feed-item .image .picture-text-overlay {
	background: rgba(51, 51, 51, 0.75);
	text-overflow: ellipsis;
	text-shadow: 0 0 3px rgba(0, 0, 0, .75);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px 10px 5px 10px;
	font-size: 1.3em;
	color: #fff;
}

.feed-item .image .correct-guess-indicator {
	display: none;
	float: left;
	font-size: 10px;
	color: yellow;
}

.feed-item .image .correct-guess-indicator .fa-icon-ok-sign {
	font-size: 14px !important;
}

.feed-item .image .target-name {
	float: right;
}

.feed-item .guess-image {
	display: none;
	position: relative;
}

.feed-item .grumblee-guess-overlay {
	background: rgba(51, 51, 51, 0.75);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	color: #fff;
}

.feed-item .grumblee-guess-overlay .guess-container {
	margin-top: 5%;
	
}

.feed-item .grumblee-guess-overlay .guess-container .friend-list-typeahead {
	margin-top: 10px;
}

.feed-item .grumblee-guess-overlay .guess-offer-text {
	padding: 10px 0;
	text-decoration: underline;
	color: #e0e0e0;
	text-shadow: none;
	font-size: 1.2em;
}

.feed-item .grumblee-guess-overlay .typeahead.dropdown-menu {
	text-align: left;
}

.feed-item .grumblee-guess-overlay .typeahead.dropdown-menu>li>a {
	padding: 3px 10px;
}

.friend-list-typeahead-entry img {
	width: 20px !important;
	height: 20px !important;
}

.feed-item .grumblee-guess-overlay .guess-result-container {
    display: none;	
}

.feed-item .grumblee-guess-overlay .guess-result-container span {
	text-shadow: none;
	padding-left: 5px;
	text-decoration: underline;
	color: #e0e0e0;
	cursor: pointer;
}

.feed-item .grumblee-guess-overlay .guess-result-container .guess-result {
	color: maroon;
	text-decoration: none;
	cursor: default;
}

.feed-item .meta {
	line-height: 32px !important;
}

.feed-item .meta > span {
	margin: auto 5px;
	text-align:left;
}

.feed-item [class^="fa-icon-"] {
	font-size: 24px !important;
	vertical-align: middle;
	cursor: pointer;
}

.feed-item .fa-icon-thumbs-up.active, .feed-item .fa-icon-thumbs-up:hover {
	color: green;
}

.feed-item .fa-icon-thumbs-down.active, .feed-item .fa-icon-thumbs-down:hover {
    color: maroon;
}

.feed-item .fa-icon-comment.active, .feed-item .fa-icon-comment:hover {
    color: #318CE7;
}

.feed-item .fa-icon-share.active, .feed-item .fa-icon-share:hover {
    color: #2f96b4;
}

.feed-item .icon-text {
	vertical-align: middle;
    font-size: 16px !important;
    margin: 0 0 5px 2px;
    line-height: 24px !important;
}

.feed-item .fa-icon-thumbs-down {
	
}

.feed-item .fa-icon-comment {
	vertical-align: -15%;
}

.feed-item .fa-icon-share {
    vertical-align: -28%;
}

#comment-popup .modal-header {
    background-color: #f5f5f5;
    /* Safari defaults to 0 height without this */
    min-height: 54px;
}

#comment-popup .alias-selector-container {
	color: gray;
}

#comment-popup .alias-selector-container label {
	display: inline;
	margin-right: 3px;
}

#comment-popup .comment-boxes.container {
	max-width: 102.5%;
}

#comment-popup .row {
	padding: 20px 0;
	border-bottom: 1px solid #e6e6e6;
}

#comment-popup .row.even {
	background-color: #fcfcfc;
}

#comment-popup .row.first {
    border-top: 1px solid #e6e6e6;
}


#comment-popup .content-heading {
	margin-right: 5px;
}

#comment-popup .modal-header .comment-info .thumbnail {
	display: inline;
}

#comment-popup .modal-header .comment-info .grumble-names {
	display:block;
}

#comment-popup .modal-header .comment-info .grumblee-name {
    font-size: 1.1em;
    font-weight: bold;
}

#comment-popup .modal-header .comment-info .grumbler-name {
    font-size: 0.9em;
    font-style: italic;
    padding-left: 3px;
}

#comment-popup .modal-header .comment-info .grumble-snippet {
	font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 100;
}

#comment-popup .content-heading .thumbnail {
	background-image: url('../../img/app/alias_sprite_500_75.jpg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    padding: 5px;
    -moz-background-clip: content;
    -moz-background-clip: content;
         background-clip: content-box; 
    
}

#comment-popup .comment-box {
	margin-left: 75px;
}

#comment-popup .alias-name {
    color: brown;
    margin-right: 10px;
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    font-weight: 550;
    font-size: 1.1em;
}

#comment-popup .comment-text-container {
	margin: 20px 0;
}

.comment-text-container textarea {
    width: 100%;
    margin: 20px 0 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#comment-popup .select2-container a {
	outline: none;
}

#invite-grumblee-popup .grumblee-name {
	font-weight: bold !important;
}

#follow-us h3 {
	margin-bottom: 0px;
}

#fb-login-popup {
    width: 460px;
    margin-left: -230px;
    padding: 10px;
}

#fb-login-popup .fb-login-anonymity-warning {
	margin-top: 12px;
}

#fb-login-popup .need-login-warning {
	display: none;
}

#fb-login-popup .need-login-warning .alert {
	margin-bottom: 0;
	margin-top: 20px;
	padding: 5px 10px;
	text-align: center;
}

#fb-login-popup .follow-buttons {
	margin-top: 20px;
}

#fb-login-popup .follow-buttons span {
	margin-right: 10px;
}

#fb-login-popup .fb-registration-plugin-container {
	display: none;
}

#friendship-questionnaire .carousel .item {
    background-color: rgba(255, 255, 255, 0.75);	
}

.slide-deck .carousel-step-icon {
	font-size: 48px;
	color: #808080;
}

.slide-deck .question-text {
	margin: 20px 0;
}

.slide-deck .action-buttons {
	margin-top: 20px;
}

.slide-deck .action-buttons .btn-large {
	font-size: 24px;
}

.slide-deck .action-buttons .btn {
    font-size: 14px;
}

.slide-deck .action-buttons .muted {
	color: gray;
}

#friendship-questionnaire  .modal-body {
    overflow: visible;/*for friend list typeahead dropdown*/
}

.slide-deck .modal-body .carousel-inner {
    overflow: visible;/*for friend list typeahead dropdown*/
}

.slide-deck .friend-list-typeahead {
	width: 300px;
}

.slide-deck .typeahead.dropdown-menu {
    text-align: left;   
}

#friendship-questionnaire .friend-property {
	font-size: 36px;
	font-weight: 200;
	line-height: 50px;
	color: maroon;
}

#friendship-questionnaire .friend-property-photo {
    width: 150px;
	margin: auto;
	border: 10px solid rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;	
}

#friendship-questionnaire .friend-property-message {
	font-size: 11px;
	color: #c0c0c0;
	margin: 3px 0 25px 0;
	font-style: italic;
}

#friendship-questionnaire .timer-value {
	font-size: 48px;
    color: gray;
}

#friendship-questionnaire .choose-step .btn-test-retry {
	display: none;
}

#friendship-questionnaire .finish-step .tested-user-pic {
	margin-bottom: 20px;
}

#friendship-questionnaire .finish-step .story {
	width: 300px;
	height: 100px;
	margin-top: 20px
}

#friendship-questionnaire .finish-step .btn-test-decline {
	font-size: 0.9em;
}

#friendship-questionnaire .finish-step .story-submit-error-message {
	display: none;
	margin: auto;
    width: 50%;
}

#friendship-questionnaire .grumble-fb-share-button-container {
	border-bottom: 1px solid #c0c0c0;
    padding-bottom: 20px;
}

.sidebar {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 20px 25px;
	right: 0px;
	top: 50px;
	display: none;
	z-index: 4;
	
}

.sidebar .global-friend-list-container {
	max-height: 420px;
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar .global-friend-list-entry {
	padding: 10px 0;
	border-bottom: 1px solid #cacaca;
	cursor: pointer;
}

.sidebar .global-friend-list-entry:hover {
	background-color: #efefef;
}

.sidebar .global-friend-list-entry .img-circle {
    border: 4px solid #fafafa;
	box-sizing: content-box;
	box-shadow: 1px 1px #cacaca;	
}

.sidebar .global-friend-list-entry:hover img {
	zoom: 1.2;
}

.sidebar .global-friend-list-entry .name {
    margin-left: 10px;
}

.sidebar .global-friend-list-filter-container {
	border-bottom: 1.5px solid #cacaca;
}

#wall {
	margin-bottom: 200px;
}

#guess-the-friend .game-description h3 {
	font-size: 0.9em;
	line-height: 2em;	
}

#guess-the-friend .friend-list-container {
	overflow: scroll; 
	max-height: 200px;
	padding: 20px;
	border: 1px solid #cecece;
}

#guess-the-friend .anonymity-selector {
	text-align: left;
	margin-top: 5px;
	color: #b22222;	
}

#guess-the-friend .anonymity-selector input[type="checkbox"] {
	float: left;
	margin-right: 5px;
}

#guess-the-friend .anonymity-selector .explanation {
	font-size: 11px;
}

#guess-the-friend .anonymity-selector label {
	font-size: 13px;
}

#guess-the-friend .friend-filter-container {
	float: right;
}

#guess-the-friend .finish-step .guess-info {
	padding: 10px;
	margin: 10px;
}

#guess-the-friend .finish-step .guesser-info {
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
}

#guess-the-friend .finish-step .guesser-info .guesser-name {
    display: block;
    font-weight: bold;
}

#guess-the-friend .finish-step .guesser-info .guesser-description {
	display: block;
	margin-top: 4px;
    font-size: 0.95em;
}

#guess-the-friend .finish-step .guesser-info .profile-pic {
	margin-bottom: 15px;
}

#guess-the-friend .finish-step .guess-message {
    display: inline-block;
    margin: 10px;
}

#guess-the-friend .finish-step .carousel-step-icon {
	vertical-align: middle;
	margin: 10px;
}

#guess-the-friend .finish-step .guessee-info {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

#guess-the-friend .finish-step .guessee-info .guessee-name {
    display: block;
    font-weight: bold;
}

#guess-the-friend .finish-step .guessee-info .guessee-description {
	display: block;
	margin-top: 4px;
	font-size: 0.95em;
}

#guess-the-friend .finish-step .guessee-info .profile-pic {
	width: 96px;
	margin-bottom: 15px;
}

#guess-the-friend .finish-step textarea.hint {
	width: 370px;
    height: 50px;
}

#guess-the-friend .finish-step .hint-submit-error-message {
	display: none;
	margin: auto;
	width: 50%;
}

#guess-the-friend .finish-step .btn-play-again {
	display: none;
}

#guess-the-friend .finish-step .btn-game-exit {
	display: none;
}

#guess-the-friend .finish-step .hint-submit-success-section {
	display:none;
	padding: 30px;
	border-bottom: 1px solid #eaeaea;
}

#guess-the-friend .finish-step .hint-submit-guesser-not-registered-section {
	display: none;
	border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
	color: #606060;
    font-size: 1.1em;
}

#guess-the-friend .step-back-button {
	cursor: pointer;
	font-size: 24px;
	position: absolute;
	left: 0px;
	top: -20px;
}

#guess-the-friend .hint-submit-guesser-not-registered-section .invite-button {
	margin: 20px auto;
	width: 250px;
}

#guess-the-friend .hint-submit-success-section .hint-sent-message {
	text-align: center;
	display: block;
	margin: 10px 0;
	font-size: 1.3em;
	color: #606060;
}

#guess-the-friend .hint-submit-success-section .further-steps-message {
	
}


#guess-game-popup {
	color: #606060;
}

#guess-game-popup .game-info {
	margin-top: 10px;
	font-size: 1.3em;
    text-shadow: 1px 0px #dadada;
}

#guess-game-popup .game-info .guessee-name {
	font-weight: bold;
}

#guess-game-popup .game-hint {
    display: block;
}

#guess-game-popup .game-guess {
	display: block;
	text-align: right;
}

#guess-game-popup .game-hint .content, #guess-game-popup .game-guess .content {
	display: inline-block;
	background-color: #fafafa;
	padding: 5px 10px;
	border: 1px solid #eaeaea;
	margin: 5px 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
	
}

#guess-game-popup .game-hint .hint-text {
	vertical-align: middle;
}

#guess-game-popup .hinter-pic {
	width: 32px;
	margin-right: 10px;
}

#guess-game-popup .guesser-pic {
	width: 32px;
    margin-left: 10px;
}

#guess-game-popup .new-action {
	display: block;
	margin-bottom: 10px;
}

#guess-game-popup .new-action .btn-overlay {
    display: inline-block;
}

#guess-game-popup .new-hint, #guess-game-popup .new-guess {
	display: none;
}

#guess-game-popup .new-game .game-finished-message {
	margin-right: 20px;
}

#guess-game-popup .new-action .friend-list-typeahead, #guess-game-popup .new-action .new-hint-text {
	margin: auto 5px auto 0;
}

#guess-game-popup .new-action .new-hint-text {
	width: 350px;
}

#guess-game-popup .typeahead.dropdown-menu {
    text-align: left;
}

#guess-game-popup .game-guess .guess-info {
	display: inline-block;
    vertical-align: middle;
    margin: 10px 20px;
}

#guess-game-popup .game-guess .guess-name {
	text-align: center;
	font-weight: bold;
}

#guess-game-popup .game-guess .guess-pic {
	display: block;
	margin-bottom: 5px;
}

#guess-game-popup .game-guess .guess-correctness {
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 24px;
}

#guess-game-popup .game-guess .guess-correctness.guess-correct {
	color: green;
}

#guess-game-popup .game-guess[data-is-correct="false"] .guess-correctness.guess-correct {
	display: none;
}

#guess-game-popup .game-guess[data-is-correct="true"] .guess-correctness.guess-correct {
    display: block;
}

#guess-game-popup .game-guess .guess-correctness.guess-incorrect {
    color: red;
}

#guess-game-popup .game-guess[data-is-correct="false"] .guess-correctness.guess-incorrect {
    display: block;
}

#guess-game-popup .game-guess[data-is-correct="true"] .guess-correctness.guess-incorrect {
    display: none;
}
