#mobile-notification {
    top:0;
    display: block;
}

/* Mobile-friendly header */
header .alert {
   margin-bottom: 0px;
}
header {
   position: static;
   margin-bottom: 0px;
}
#wrapper {
   margin-top: 15px;
}
.navbar .btn-navbar, .navbar .nav-collapse {
   display: none;
}
.navbar .brand {
   margin: 0 auto;
   float: none;
   width: 130px;
   border: none;
   padding-bottom: 12px;
}
.navbar .brand:after, .navbar .brand:before {
   border: none;
}
#top-buttons {
   border-top: 1px solid #dfdfdf;
   padding: 7px 0;
   text-align: center;
}
/* End of header code */


#filters {
	margin-bottom: 10px;
	font-size: 12px;
}

/* 
	This magic is for left/right margins of the wall.
	There should be a better way.
*/
#wall {
  padding-left: 3%;
  width: 97%;
}
#wall .item { 
   width: 94%; 
}

#invite-popup .thumbnails>li {
   float: left;
   margin-left: 20px;
}
#invite-popup .modal-body {
   max-height: 200px;
}

#post-popup .post-options-panel .select2 {
   width: 150px !important;
}
#post-popup .post-options-panel li.divider-vertical {
   display: none;
}

#empty-filtered-section-notification {
   width: 95%;
   margin-left: 7px;
}

